def get_nomer(nomer):
    a = {
        0: '',
        1: 'один',
        2: 'два',
        3: 'три',
        4: 'четыре',
        5: 'пять',
        6: 'шесть',
        7: 'семь',
        8: 'восемь',
        9: 'девять',
        10: 'десять',
        11: 'одиннадацать',
        12: 'двенадцать',
        13: 'тринадцать',
        14: 'четырнадцать',
        15: 'пятнадцать',
        16: 'шестнадцать',
        17: 'семьнадцать',
        18: 'восемьнадцать',
        19: 'девятнадцать'
    }

    b = {
        0: '',
        2: 'двадцать',
        3: 'тридцать',
        4: 'сорок',
        5: 'пятьдесят',
        6: 'шестьдесят',
        7: 'семьдесят',
        8: 'восемьдесят',
        9: 'девяносто'
    }

    c = {
        0: '',
        1: 'сто',
        2: 'двести',
        3: 'триста',
        4: 'четыреста',
        5: 'пятьсот',
        6: 'шестьсот',
        7: 'семьсот',
        8: 'восемьсот',
        9: 'девятьсот'
    }

    d = {
        0: '',
        1: 'одна тысяча',
        2: 'две тысячи',
        3: 'три тысячи',
        4: 'четыре тысячи',
        5: 'пять тысяч',
        6: 'шесть тысяч',
        7: 'семь тысяч',
        8: 'восемь тысяч',
        9: 'девять тысяч'
    }

    e = {
        0: '',
        1: 'десять тысяч',
        2: 'двадцать тысяч',
        3: 'тридцать тысяч',
        4: 'сорок тысяч',
        5: 'пятьдесят тысяч',
        6: 'шестьдесят тысяч',
        7: 'семьдесят тысяч',
        8: 'восемьдесят тысяч',
        9: 'девяносто тысяч'
    }


    nomer_str = str(nomer)
    length = len(nomer_str)

    if length == 1:
        return a[nomer]
    elif length == 2 and nomer>=20:
        return b[int(nomer_str[0])] + ' ' + a[int(nomer_str[1])]
    elif length == 2 and nomer<=19:
        return a[nomer]
    elif length == 3:
        return c[int(nomer_str[0])] + ' ' + get_nomer_slovo(int(nomer_str[1:]))
    elif length <= 4:
        return d[int(nomer_str[0])] + ' ' + get_nomer_slovo(int(nomer_str[1:]))
    else:
        return e[int(nomer_str[0])] + ' ' + get_nomer_slovo(int(nomer_str[1:]))


def get_rubles_konets(nomer):
    last_digit = nomer % 10
    if last_digit == 1 and nomer != 11:
        return 'рубль'
    elif last_digit in [2, 3, 4] and (nomer < 10 or nomer > 20):
        return 'рубля'
    else:
        return 'рублей'


def main():
    nomer = int(input('Введите число от 1 до 100000: '))
    if nomer>99999 and nomer<100001:
        print("сто тысяч рублей")
    if nomer < 1 or nomer > 100000:
        print('Недопустимое значение')
        return


    nomer_slovo = get_nomer(nomer)
    rubles_konets = get_rubles_konets(nomer)
    print(nomer_slovo + ' ' + rubles_konets)


if __name__ == '__main__':
    main()
